* {
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
}

.frontimg{
    width: 100%;
}

.p1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 6px;
    
}

.hr1{
    position: relative;
    bottom: -10px;
}

.Von{
    width: 100%;
}

.hr2{
    position: relative;
    bottom: 50px;
}

.text1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 6px;
}

.zoompic{
    width: 100%;
}

.p3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 6px;
}

.Youth{
    width: 100%;
}

@media (min-width: 646px) {
    .banner{
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }

    .frontimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
    }

    .Von{
        display: block;
        margin-left: auto ;
        margin-right: auto;
        width: 80%;
    }

    .zoompic{
        float: left;
        width: 500px;
        height: 360px;
        padding: 0 10x 0 0;
    }

    .Youth{
        display: block;
        margin-left: auto ;
        margin-right: auto;
        width: 80%;
        position: relative;
        bottom: -20px;
    }
}


@media (min-width: 922px) {
    .banner{
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}

@media (min-width: 1440px) {
    .banner{
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
}
                